<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.admin.camelv.dao.CamelvServerLogMapper">
  <sql id="Base_Column_List">
    id, data_id, name, status, start_date, end_date, gmt_created, gmt_modified, is_del, 
    remarks
  </sql>
  <sql id="Blob_Column_List">
    request_header, request_body, response_header, response_body
  </sql>
  <resultMap id="BaseResultMap" type="com.funny.admin.camelv.entity.CamelvServerLogEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="request_header" jdbcType="LONGVARCHAR" property="requestHeader" />
    <result column="request_body" jdbcType="LONGVARCHAR" property="requestBody" />
    <result column="response_header" jdbcType="LONGVARCHAR" property="responseHeader" />
    <result column="response_body" jdbcType="LONGVARCHAR" property="responseBody" />
  </resultMap>
  <sql id="sql_where_condition">
    <if test="dataId  != null ">
       and data_id = #{dataId,jdbcType=VARCHAR}
    </if>
    <if test="name  != null ">
       and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="status  != null ">
       and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="startDate  != null ">
       and start_date = #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate  != null ">
       and end_date = #{endDate,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtCreated  != null ">
       and gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
    </if>
    <if test="gmtModified  != null ">
       and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    </if>
    <if test="isDel  != null ">
       and is_del = #{isDel,jdbcType=INTEGER}
    </if>
    <if test="remarks  != null ">
       and remarks = #{remarks,jdbcType=VARCHAR}
    </if>
    <if test="requestHeader  != null ">
       and request_header = #{requestHeader,jdbcType=LONGVARCHAR}
    </if>
    <if test="requestBody  != null ">
       and request_body = #{requestBody,jdbcType=LONGVARCHAR}
    </if>
    <if test="responseHeader  != null ">
       and response_header = #{responseHeader,jdbcType=LONGVARCHAR}
    </if>
    <if test="responseBody  != null ">
       and response_body = #{responseBody,jdbcType=LONGVARCHAR}
    </if>
  </sql>
  <insert id="insertSelective" parameterType="com.funny.admin.camelv.entity.CamelvServerLogEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into camelv_server_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        data_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="requestHeader != null">
        request_header,
      </if>
      <if test="requestBody != null">
        request_body,
      </if>
      <if test="responseHeader != null">
        response_header,
      </if>
      <if test="responseBody != null">
        response_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="requestHeader != null">
        #{requestHeader,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestBody != null">
        #{requestBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseHeader != null">
        #{responseHeader,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseBody != null">
        #{responseBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSelectiveById" parameterType="com.funny.admin.camelv.entity.CamelvServerLogEntity">
    update camelv_server_log
    <set>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="requestHeader != null">
        request_header = #{requestHeader,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestBody != null">
        request_body = #{requestBody,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseHeader != null">
        response_header = #{responseHeader,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseBody != null">
        response_body = #{responseBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findEntityById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from camelv_server_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listByCondition" parameterType="com.funny.admin.camelv.entity.CamelvServerLogEntity" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM camelv_server_log where 1 = 1
    <include refid="sql_where_condition" />
  </select>
  <select id="count" parameterType="com.funny.admin.camelv.entity.CamelvServerLogEntity" resultMap="BaseResultMap">
    SELECT count(1) FROM camelv_server_log where 1 = 1
    <include refid="sql_where_condition" />
  </select>
</mapper>