HELP.md
demo-file/target/
demo-ftp/target/
demo-http/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
camel-process/target
camel-view/target
demo-file/target
demo-ftp/target
demo-http4/target
demo-jetty/target
demo-netty4-http/target
