<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.demo.camel.dao.DocInfoMapper">
  <sql id="Base_Column_List">
    doc_id, doc_user_id, doc_name, doc_biref, doc_create_time
  </sql>
  <resultMap id="BaseResultMap" type="com.funny.demo.camel.entity.DocInfoEntity">
    <id column="doc_id" jdbcType="BIGINT" property="docId" />
    <result column="doc_user_id" jdbcType="BIGINT" property="docUserId" />
    <result column="doc_name" jdbcType="VARCHAR" property="docName" />
    <result column="doc_biref" jdbcType="VARCHAR" property="docBiref" />
    <result column="doc_create_time" jdbcType="TIMESTAMP" property="docCreateTime" />
  </resultMap>
  <sql id="sql_where_condition">
    <if test="docUserId  != null ">
       and doc_user_id = #{docUserId,jdbcType=BIGINT}
    </if>
    <if test="docName  != null ">
       and doc_name = #{docName,jdbcType=VARCHAR}
    </if>
    <if test="docBiref  != null ">
       and doc_biref = #{docBiref,jdbcType=VARCHAR}
    </if>
    <if test="docCreateTime  != null ">
       and doc_create_time = #{docCreateTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <insert id="insertSelective" parameterType="com.funny.demo.camel.entity.DocInfoEntity">
    insert into doc_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        doc_id,
      </if>
      <if test="docUserId != null">
        doc_user_id,
      </if>
      <if test="docName != null">
        doc_name,
      </if>
      <if test="docBiref != null">
        doc_biref,
      </if>
      <if test="docCreateTime != null">
        doc_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="docId != null">
        #{docId,jdbcType=BIGINT},
      </if>
      <if test="docUserId != null">
        #{docUserId,jdbcType=BIGINT},
      </if>
      <if test="docName != null">
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docBiref != null">
        #{docBiref,jdbcType=VARCHAR},
      </if>
      <if test="docCreateTime != null">
        #{docCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSelectiveById" parameterType="com.funny.demo.camel.entity.DocInfoEntity">
    update doc_info
    <set>
      <if test="docUserId != null">
        doc_user_id = #{docUserId,jdbcType=BIGINT},
      </if>
      <if test="docName != null">
        doc_name = #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docBiref != null">
        doc_biref = #{docBiref,jdbcType=VARCHAR},
      </if>
      <if test="docCreateTime != null">
        doc_create_time = #{docCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where doc_id = #{docId,jdbcType=BIGINT}
  </update>
  <select id="findEntityById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from doc_info
    where doc_id = #{docId,jdbcType=BIGINT}
  </select>
  <select id="listByCondition" parameterType="com.funny.demo.camel.entity.DocInfoEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM doc_info where 1 = 1
    <include refid="sql_where_condition" />
  </select>
  <select id="count" parameterType="com.funny.demo.camel.entity.DocInfoEntity" resultMap="BaseResultMap">
    SELECT count(1) FROM doc_info where 1 = 1
    <include refid="sql_where_condition" />
  </select>
</mapper>
